.jumbotron {
    margin-top: 50px;
    

}
mark {
    background-color: darkgrey;
    font-family: 'Courier New', Courier, monospace;
}
.btn {
    width: 600px;
    height: 50px;
   margin-left: 20%;

}
.jb {
    text-align: center;
}